{% extends 'base.html' %}

{% block title %} Admin Panel {% endblock %}

{% block navbar %}
<a class="nav-item nav-link" id="login" href="/">Home</a>
<a class="nav-item nav-link" id="signUp" href="/auth/login">Login</a>
{% endblock %}

{% block content %}

{% for user in all_users %}
  <p>{{ user.username }}</p>
  <p>{{ user.photo_list }}</p>
  <p>{{ user.photo_count }}</p>
  <p>{{ user.downloads }}</p>
  <p>{{ user.downloads_count }}</p>
  <p>{{ user.edit_list }}</p>
  <p>{{ user.edit_count }}</p>
  <p>{{ user.following }}</p>
  <p>{{ user.follwering_count }}</p>
  <a href={{ url_for('auth.delete_user', user_id=user._id )}}>DELETE USER</a>
{% endfor %}

{% for post in all_posts %}
  <p>{{ post.image_name }}</p>
  <p>{{ post.caption }}</p>
  <p>{{ post.location }}</p>
  <a href={{ url_for('auth.delete_post', post_id=post._id )}}>DELETE POST</a>
{% endfor %}

{% endblock %}