{% extends 'base.html' %}

{% block title %} Create Post {% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"><img style="height: 24px;" src={{ url_for('static', filename='fotos-logo.png' ) }}/></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/">FEED</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/photos">PHOTOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/edits">EDITS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/downloads">DOWNLOADS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">SEARCH</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/logout">LOGOUT</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}

<form actions="/post/upload" enctype="multipart/form-data" method="POST">
  <div class="form-group">
    <label>UPLOAD POST</label>
  </div>
  <div class="form-group">
    <label for="photo">PHOTO</label>
    <input type="file" class="form-control" name="photo" id="photo" aria-describedby="photo" placeholder="Select Photo">
    <small id="emailHelp" class="form-text text-muted">Max file size is 25MB.</small>
  </div>
  <div class="form-group">
    <label for="image_name">TITLE</label>
    <input type="text" class="form-control" name="image_name" id="image_name" placeholder="Enter Title">
  </div>
  <div class="form-group">
    <label for="caption">CAPTION</label>
    <input type="text" class="form-control" name="caption" id="caption" placeholder="Enter Caption">
  </div>
  <div class="form-group">
    <label for="location">LOCATION</label>
    <input type="text" class="form-control" name="location" id="location" placeholder="Enter Location">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}