{% extends 'base.html' %}

{% block title %} Create Post {% endblock %}

{% block navbar %}
  <a class="nav-item nav-link" id="feed" href="/">Feed</a>
  <a class="nav-item nav-link" id="photos" href="/photos">Photos</a>
  <a class="nav-item nav-link" id="edits" href="/edits">Edits</a>
  <a class="nav-item nav-link" id="profile" href="/profile">Profile</a>
  <a class="nav-item nav-link" id="search" href="/search">Search</a>
  <a class="nav-item nav-link" id="logout" href="/auth/logout">Logout</a>
{% endblock %}

{% block content %}

<div>
  <form actions="/search" method="POST">
    <div class="form-group">
      <label for="search">Search:</label>
      <input type="text" for="search" name="search" placeholder="Search Username"/>
      <input type="submit" name="submit" value="Search"/>
    </div>
  </form>
</div>

{% endblock %}