{% extends 'base.html' %}

{% block title %} SIGN UP {% endblock %}

{% block navbar %}
<a class="nav-item nav-link" id="login" href="/auth/login">Login</a>
{% endblock %}

{% block content %}

<!-- <form actions="/auth/signup" method="POST">
  <header>Sign Up</header>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="Enter Username"/>
    <label for="password">Password</label>
    <input type="password" for="password" name="password" placeholder="Enter Password"/>
    <label for="password-confirm">Confirm Password</label>
    <input type="password" for="password-confirm" name="password-confirm" placeholder="Confirm Password"/>
    <label for="email">Email</label>
    <input type="email" for="email" name="email" placeholder="Enter Email"/>
    <label for="name">Name</label>
    <input type="text" for="name" name="name" placeholder="Enter Name"/>
    <label for="account">Account</label>
    <select name="account">
      <option value="photographer">Photographer</option>
      <option value="videographer">Videographer</option>
      <option value="editor">Editr</option>
      <option value="designer">Designer</option>
    </select>
    <label for="bio">Bio</label>
    <input type="text" for="bio" name="bio" placeholder="Enter Bio"/>
    <label for="location">Location</label>
    <input type="text" for="location" name="location" placeholder="Enter City, State"/>
    <input type="submit" name="submit" value="Sign Up"/>
  </div>
</form> -->

<form actions="/auth/signup" enctype="multipart/form-data" method="POST">
  <div class="form-group">
    <label>SIGNUP</label>
  </div>
  <div class="form-group">
    <label for="username">USERNAME</label>
    <input type="text" class="form-control" name="username" id="username" aria-describedby="username" placeholder="Enter Username">
  </div>
  <div class="form-group">
    <label for="password">PASSWORD</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password">
  </div>
  <div class="form-group">
    <label for="password_confirm">CONFIRM PASSWORD</label>
    <input type="password" class="form-control" name="password_confirm" id="password_confirm" placeholder="Confirm Password">
  </div>
  <div class="form-group">
    <label for="email">EMAIL</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email">
  </div>
  <div class="form-group">
    <label for="name">NAME</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name">
  </div>
  <div class="form-group">
    <label for="bio">BIO</label>
    <input type="text" class="form-control" name="bio" id="bio" placeholder="Enter Bio">
  </div>
  <div class="form-group">
    <label for="location">LOCATION</label>
    <input type="text" class="form-control" name="location" id="location" placeholder="Enter Location">
  </div>
  <div class="form-group">
    <label for="account">ACCOUNT TYPE</label>
    <select id="account" class="form-control">
      <option value="photographer" selected>PHOTOGRAPHER</option>
      <option value="videographer" >VIDEOGRAPHER</option>
      <option value="editor" >EDITOR</option>
      <option value="designer" >DESIGNER</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}