{% extends 'base.html' %}

{% block title %} UPDATE PROFILE {% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">FEED</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/photos">PHOTOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/edits">EDITS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/downloads">DOWNLOADS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">SEARCH</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">PROFILE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/logout">LOGOUT</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}

<form actions="/auth/signup" method="POST">
  <header>UPDATE PROFILE </header>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" value={{ loggedInUser.username }}/>
    <label for="current-password">Current Password</label>
    <input type="password" for="password" name="current-password" defaultValue="Enter Current Password"/>
    <label for="new-password">New Password</label>
    <input type="password" for="password" name="new-password" defaultValue="Enter New Password"/>
    <label for="password-confirm">Confirm Password</label>
    <input type="password" for="password-confirm" name="password-confirm" defaultValue="Confirm Password"/>
    <label for="email">Email</label>
    <input type="email" for="email" name="email" value={{ loggedInUser.email }}/>
    <label for="name">Name</label>
    <input type="text" for="name" name="name" value={{ loggedInUser.name }}/>
    <label for="account">Account</label>
    <select name="account">
      <option value="photographer">Photographer</option>
      <option value="videographer">Videographer</option>
      <option value="editor">Editr</option>
      <option value="designer">Designer</option>
    </select>
    <label for="bio">Bio</label>
    <input type="text" for="bio" name="bio" value={{ loggedInUser.bio }}/>
    <label for="location">Location</label>
    <input type="text" for="location" name="location" value={{ loggedInUser.location }}/>
    <input type="submit" name="submit" value="Update Profile"/>
  </div>
</form>

{% endblock %}