{% extends 'base.html' %}
{% block title %} HOME {% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">FEED</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/photos">PHOTOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/edits">EDITS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/downloads">DOWNLOADS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">SEARCH</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">PROFILE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/logout">LOGOUT</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div>
  {% for photo in feed %}
    <div>
      <a>
        <img style="height: 250px;" src={{ url_for('static', filename=photo.filename ) }}/>
      </a>
      <p>{{ photo.image_name }}</p>
      <p>{{ photo.caption }}</p>
      <p>{{ photo.location }}</p>
      <a href={{ url_for( 'post.download_photo', photo_id=photo._id )}}><button type="button" class="btn btn-secondary">DOWNLOAD</button></a>
    </div>
  {% endfor %}
</div>
{% endblock %}