{% extends 'base.html' %}
{% block title %} HOME {% endblock %}

{% block navbar %}
  <a class="nav-item nav-link" id="feed" href="/">Feed</a>
  <a class="nav-item nav-link" id="photos" href="/photos">Photos</a>
  <a class="nav-item nav-link" id="edits" href="/edits">Edits</a>
  <a class="nav-item nav-link" id="profile" href="/profile">Profile</a>
  <a class="nav-item nav-link" id="logout" href="/auth/logout">Logout</a>
{% endblock %}

{% block content %}
<div>
  {% for photo in feed %}
    <div>
      <!-- <a>
        <img src={{ photo['photo'] }}/>
      </a> -->
      <p>{{ photo.photo }}</p>
      <p>{{ photo.caption }}</p>
      <p>{{ photo.location }}</p>
    </div>
  {% endfor %}
</div>
{% endblock %}