{% extends 'base.html' %}
{% block title %} HOME {% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"><img style="height: 24px;" src={{ url_for('static', filename='images/fotos-logo.png' ) }}/></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/">FEED</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/photos">PHOTOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/edits">EDITS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/downloads">DOWNLOADS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">SEARCH</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">PROFILE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/logout">LOGOUT</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="pt-12">
  <a href={{ url_for('post.create_post') }}><button type="button" class="btn btn-secondary">UPLOAD PHOTO</button></a>
</div>

<div class="row pt-12">
  {% for photo in all_photos %}
  <div class="col-4">
    <div class="card p-8">
      <a></a>
        <img src={{ url_for('static', filename='images/' + photo.filename ) }}/>
      </a>
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <div>
          <p style="padding-top: 8px;">@{{ photo.author }}</p>
        </div>
        <div style="display:flex; align-items: center;">
          <div style="display:flex; align-items: center; padding-left: 4px;">
            <img style="height: 18px;" src={{ url_for('static', filename='images/clone.svg' ) }}/>
            <span style="padding-left: 4px;">2</span>
          </div>
          <div style="display:flex; align-items: center; padding-left: 4px;">
            <img style="height: 18px;" src={{ url_for('static', filename='images/like.svg' ) }}/>
            <span style="padding-left: 4px;">47</span>
          </div>
          <div style="display:flex; align-items: center; padding-left: 4px;">
            <img style="height: 18px;" src={{ url_for('static', filename='images/comment.svg' ) }}/>
            <span style="padding-left: 4px;">12</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}